<div id = sheet_container>
  <mat-card id="stats">
    <mat-card-title>Abilities</mat-card-title>
    <mat-card-content>
      <app-cs-stats [skills]="player.skills" [abilities]="player.abilities"></app-cs-stats>
    </mat-card-content>
  </mat-card>


  <mat-card id="vitals">
    <mat-card-title>Vitals</mat-card-title>
    <mat-card-content>
      <app-cs-vitals [vitals]="player.vitals" (updatedVitalsEvent)="updateVitals($event)"></app-cs-vitals>
    </mat-card-content>
  </mat-card>

  <mat-card id="traits">
    <mat-card-title>Traits</mat-card-title>
    <mat-card-content>
      <app-cs-traits [traits]="player.traits"></app-cs-traits>
    </mat-card-content>
  </mat-card>

  <mat-card id="actions">
    <mat-card-title>Actions</mat-card-title>
    <mat-card-content>
      <app-cs-actions [actions]="player.actions"></app-cs-actions>
    </mat-card-content>
  </mat-card>

  <mat-card id="proficiencies">
    <mat-card-title>Proficiency & Languages</mat-card-title>
    <mat-card-content>
      <app-cs-proficiencies [proficiencies]="player.proficiencies"></app-cs-proficiencies>
    </mat-card-content>
  </mat-card>

  <mat-card id="inventory">
    <mat-card-title>Money</mat-card-title>
    <mat-card-content>
      <app-cs-inventory [moneyPouch]="player.moneyPouch" (updatedMoneyEvent)="updateMoney($event)"></app-cs-inventory>
    </mat-card-content>
  </mat-card>

  <mat-card id="features">
    <mat-card-title>Features/Racial Traits</mat-card-title>
    <mat-card-content>
      <app-cs-features [features]="player.features"></app-cs-features>
    </mat-card-content>
  </mat-card>

</div>
